@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  height: 100%;
  line-height: 1.7;
}
body {
    height: 100%;
    display: grid;
    place-items: center;
  background: #f2f2f2;
}
.container{
    width: 64%;
    display: flex;
    max-width: 1200px;
}
h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.5em;
    text-transform: uppercase;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
}
.card{
    display: grid;
    gap: 2em;
    padding: 3.3em;
}
.sedans {
    border-radius: 10px 0 0 10px;
  background: #e38826;
}
.sedans .btn{
    color: #e38826;
}
.suvs {
  background: #006970;
}
.suvs .btn{
    color: #006970;
}
.luxury {
    border-radius: 0 10px 10px 0;
  background: #004241;
}
.luxury .btn{
    color: #004241;
}
.btn{
    margin:4em 0 0;
    cursor: pointer;
    background: hsl(0, 0%, 95%,);
    border: none;
    padding: 1em;
    width: 75%;
    border-radius:50px;

    font-family: inherit;
    font-size: inherit;
}
.btn:hover{
    background: #0000;
    color: hsla(0, 0%, 95%);
    outline: 2px solid hsl(0, 0%, 95%);
}

@media only screen and (max-width: 600px){
    .container{
        width: 90%;
        flex-direction: column;
        margin-top: 2rem;
    }
    .btn{
        margin-top: 0rem;
        width: 60%;
    }
    .sedans{
        border-radius: 10px 10px 0 0;
    }
    .luxury{
        border-radius: 0 0 10px 10px;
    }
}
